<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- ODBC Connection String for Azure SQL Database -->
		<add name="HRMSConnection"
             connectionString="Driver={ODBC Driver 18 for SQL Server};Server=tcp:my-c-projects.database.windows.net,1433;Database=HR;Uid=abdullah;Pwd={r&quot;fCpkYp^_yNjr5};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
             providerName="System.Data.Odbc" />

		<!-- SQL Client Connection (Commented - kept for reference) -->
		<!--
        <add name="HRMSConnection" 
             connectionString="Data Source=.;Initial Catalog=HRMS_DB;Integrated Security=True" 
             providerName="System.Data.SqlClient" />
        -->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>